@import '_variables.scss';
@import '_mixins.scss';

body {
  background-color: $color-background;

}


/* =========================================================
    TÍTULOS GENERALES Y TEXTOS SECUNDARIOS
========================================================= */
h2 {
  color: $color-negro;
  margin-bottom: 0.5rem;
}

h2 + p,
h2 + div,
h2 + span {
  color: $color-negro;
  margin-top: 0.5rem;
}


/* =========================================================
    NAV MOBILE
========================================================= */
.navbar {
  background: $color-verde;
}

.btn-idioma {
  border: 0;
  color: $color-negro;
  background: transparent;
}
.icono-menu{
  color: $color-negro;
  height:  500px;
}
.buscar-menu{
  background-color: $color-blanco;
}
.buscar-menu::placeholder {
    color: $color-negro;             
}
.buscador-boton{
  background-color: $color-verde-chillon;
  color: $color-negro;
}
/* ======== menu burger o Offcanvas ======== */
.offcanvas-personalizado {
  background-color: $color-background;
  border-left: 1px solid #dcdcdc;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
  width: 70% !important;
}

.offcanvas-personalizado .offcanvas-header {
  border-bottom: 1px solid #ccc;
  padding: 1rem 1.25rem;
}

.icono-usuario {
  width: 30px;
  height: 30px;
  color: $color-negro;
}
.top-menu{
 display: flex;
    justify-content:flex-end;
    gap: 20px;
    align-items: center;  
    width: 100%;  
}
.enlace-login {
  color: $color-negro;
  text-decoration: none;
  transition: opacity 0.2s ease;
  padding: 10px;
  border-radius: 10px;
}

.enlace-login:hover {
  background-color: $color-verde-chillon;
}

/* ======== CUERPO OFF-CANVAS ======== */
.offcanvas-personalizado .offcanvas-body {
  padding: 1.5rem;
}

.menu-titulo {
  border-bottom: 1px solid $color-negro;
  display: inline-block;
  padding-bottom: 4px;
}

.menu-seccion {
  border-bottom: 1px solid $color-negro;
  display: inline-block;
  padding-bottom: 4px;
}

/* ======== LISTA DE MENU ======== */
.menu-lista {
  margin: 1rem 0;
  padding: 0;
}

.menu-lista li {
  border-bottom: 1px solid transparent;
}

.menu-lista a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-negro;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
  border-radius: 10px;
}

.menu-lista a:hover {
  background-color: $color-verde-chillon;
}
.btn-close {
    filter: invert(0);
}
/* =========================================================
    HEADER HERO
========================================================= */
.header-hero {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.header-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =========================================================
    TICKER PROMOCIONAL
========================================================= */
.promo-cinta {
  background: $color-rosado;
  overflow: hidden;
  white-space: nowrap;
}

.promo-pista {
  display: inline-block;
  animation: marq 18s linear infinite;
  padding: .5rem 0;
}

.promo-item {
  margin-right: 2rem;
}

@keyframes marq {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* ========================================================
    TÍTULOS DE SECCIÓN
========================================================= */
.titulo-seccion{
  margin-top: 70px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 40px;
}




.titulo-seccion::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  background: $color-negro;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.titulo-seccion-pagina{
    margin-top: 0px;
  }

/* =========================================================
    SECCIÓN DE PASOS
========================================================= */
.paso-contenedor {
  display: flex;
  flex-direction: column;
  gap: 0;
}

#paso-1{
  z-index: 5;
}

#paso-2{
  z-index: 4;
}

#paso-3{
  z-index: 3;
}

#paso-4{
  z-index: 2;
}

#paso-5{
  z-index: 1;
}


.paso-tarjeta {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 12px 14px;
  background: $color-blanco;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.301);
  margin: 1px;
}

.paso-numero {
  h2{
    color: $color-verde-chillon;    
  }

}

/* =========================================================
    BOTONES
========================================================= */
.btn-principal { 
  @include mixin-boton-verde
}

.btn-compartir{
  background: none;
  border: 0;
  color: $color-negro;
  transition: color 0.3s ease;
  img{
  height: 30px !important;
  width: 30px !important;    
  }

} 

.btn-compartir-producto{
  padding-top: 10px;
}

.btn-compartir:hover {
  color: $color-negro;
}

/* =========================================================
    FRANJA DE INFORMACIÓN 
========================================================= */
.info-franja {
  width: 100vw;
  background: $color-rosado;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 20rem;
  align-items: center;
  text-align: center;
}

.iconos-franja{
      width: 60px !important;
      height: 60px !important;
      margin-bottom: 5px;
  }

@media (max-width: 768px) {
  .info-franja {
    gap: 5rem;
    padding: auto 0px;
    text-align: center;
  }
}

/* =========================================================
    PRODUCTOS (CARDS)
========================================================= */
.carousel{
  margin-top: 20px;
}

.tarjeta-producto{
    @include mixin-tarjeta-producto
}


/* =========================================================
    CARRUSEL GENERAL
========================================================= */
#carouselPrendas img {
  max-height: 350px;
  object-fit: contain;
}

.galeria-producto, .imagen-wrap, .attachment-woocommerce_thumbnail{
  img{
    max-height: 350px !important;
    object-fit: cover;
    border-radius: 22px;
  }
}

.boton-eliminar{
  color: $color-negro;
  text-decoration: none;
}

.yith_wapo_groups_container > h5,
.yith_wapo_groups_container > p {
    display: none !important;
}

.options-container{
  background-color: $color-background;
}

select, .input-text, .select2-selection__rendered{
  background-color: $color-blanco;
  border: 2px solid $color-rosado;
  border-radius: 22px;
  option{
    padding-left: 10%;
  }
}

.select2-container--default .select2-selection--single{
  border: none;
}

.woocommerce-product-gallery__trigger{
  display: none;
}

.yith-wapo-option-value, .input-text {
  height: 30px;
  padding-left: 20px;
}

/* =========================================================
    COMUNIDAD
========================================================= */

.intro-comunidad{
  margin-bottom: 40px;
}


.tarjeta-comunidad {
  @include mixin-tarjeta-comunidad
}


/* =========================================================
    FOOTER
========================================================= */

footer{
  margin-top: 0;
  padding: 0;
}

.footer-movil {
  background-color: $color-verde;
  color: $color-negro;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
}

.main-footer{
  padding: 20px  20px 0px 20px;
}
.footer-enlaces {
  display: flex;
  flex-direction: column;
  gap: 16px;
  //margin-bottom: 10px;
}

.footer-enlaces a {
  text-decoration: none;
  color: $color-negro;
  display: block;
  padding-bottom: 6px;
  transition: color 0.3s ease;
}
.enlace{
   border-bottom: 1px solid rgba(0,0,0,0.2);
   padding: 10px;
}
.card{
  background-color: #c8dc7c;
  color: black;
}
.p-frecuentes{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}



.faq-icono {
  font-size: 20px;
  font-weight: 500;
  padding-left: 8rem;
}




/* Logos e iconos */
.footer-inferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  
}

.footer-logo {
  height: 20%;
  width: auto;
  margin: 20px 0px;
}

.redsocial{
  height: 40%;
  color: black;
  
}



/* ======== FRANJA INFERIOR VERDE  ======== */
.footer-copyright {
  width: 100%;
  background-color: #c8dc7c;
  text-align: center;
  height: 30px;
  padding: 5px;
  
  justify-content: end;
}


@media (min-width: 768px) {
  .footer-enlaces {
    flex-direction: row;
    gap: 2rem;
  }

  .footer-faq {
    padding-bottom: 0;
  }
}




/* =========================================================
     ESTILOS PARA PC (DESKTOP)
========================================================= */

/* ===== NAVBAR DESKTOP ===== */
.navbar-desktop .nav-top {
  background-color: $color-verde;
}

.navbar-desktop .nav-bottom {
  background-color: $color-verde-chillon;
}


.nav-logo img {
  height: 70px;
  transition: transform 0.3s ease;
}

.nav-logo:hover img {
  transform: scale(1.05);
}


.nav-icons i {
  color: $color-negro;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease;
}

.nav-icons i:hover {
  transform: scale(1.15);
  color: $color-negro;
}


.nav-menu li a {
  text-decoration: none;
  color: $color-negro;
  position: relative;
  transition: color 0.3s ease;
}

.nav-menu li.active a {
  border-bottom: 2px solid $color-negro;
  padding-bottom: 3px;
}

.nav-menu li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: $color-negro;
  left: 0;
  bottom: -3px;
  transition: width 0.3s ease;
}

.nav-menu li a:hover {
  color: $color-negro;
}

.nav-menu li a:hover::after {
  width: 100%;
}


.nav-search {
  width: 320px;
  transition: box-shadow 0.3s ease;
}

.nav-search:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.nav-search input {
  flex: 1;
  color: $color-negro;
  background: transparent;
}

.nav-search input::placeholder {
  color: $color-negro;
}

.nav-search button i {
  color: $color-negro;
  transition: color 0.3s ease;
}

.nav-search button:hover i {
  color: $color-negro;
}


.categorias-slider {
  overflow-x: scroll; 
  white-space: nowrap;

  h3{
      font-size: 16px !important;
    }
  z-index: 10;
  .cat-tabs {
    padding: 0;
    margin: 0;
    gap: 0;

    li { list-style: none; }

    .cat-btn {
      h3{
        margin-bottom: 0px;
      }
      border: none;
      background: $color-blanco;
      padding: 12px 28px;
      font-size: 16px;
      font-weight: 500;
      border-right: 1px solid $color-verde-chillon;
      cursor: pointer;
      border-bottom: 3px solid transparent;
    }

    .active {
      background: $color-rosado;  
      box-shadow: inset 0 6px 8px -6px rgba(0, 0, 0, 0.473);
      border-right: 0px;

    }
  }
}

.cat-contenido {
  background: $color-blanco;
  padding: 25px 10px;

  .cat-panel {
    display: none;
  }

  .cat-panel.active {
    display: block;
  }
}

.categorias-slider {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .cat-tabs {
    display: inline-flex;
    li {
      list-style: none;
      display: inline-block;
    }
  }
}



.botones-carrusel-producto{
  @include mixin-boton-carrusel-producto
}




.row-boton-producto {
  .col-6 {
    padding: 0 !important;

    .btn {
      text-transform: uppercase;
      width: 100%;
      border: none;
      border-bottom: 2px solid $color-rosado;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .active {
      background-color: $color-rosado;
    }

    // si no tiene active, font weight
    .btn:not(.active) {
      font-weight: 600;
    }
  }
}


.formulario-personalizacion{
  @include mixin-input-personalizacion
}

.modal-footer{
  border-top: none;
}

.check-circle {
    width: 16px;
    height: 16px;
    border: 2px solid $color-rosado;
    border-radius: 50%;
    position: absolute;
    top: 8%;
    margin-left: 22%;
}

.btn-volver{
  img{
  width: 20px;
  height: 20px;    
  }
}

.addon-header, #wapo-total-price-table, .yith-wapo-block{
  background-color: $color-background !important;
  h1, h2, h3, h4, h5, h6, p{
    background-color: $color-background !important;
  }
}





    .woocommerce-product-gallery .flex-control-thumbs,
    .woocommerce-product-gallery__image--thumbnail {
        display: none !important;
    }

.opciones-pago, .woocommerce-checkout-payment{
  background-color: $color-blanco !important;
}

.carta-pago{
  background-color: $color-blanco;
  padding: inherit;
  border-radius: 22px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.carta-pago-final{
  background-color: $color-blanco;
  padding: inherit;
  border-radius: 22px; 
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.nombre-producto {
  font-weight: 700;
  margin-bottom: 4px;
}

.precio-producto {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.variaciones-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px 10px;
  margin-top: 8px;
}

.variacion-item {
  font-size: 0.9rem;
  line-height: 1.2;
}


.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
  @include mixin-boton-verde;
  border: none;
}

/* ================================
    LOGIN / REGISTER
================================ */
.contenedor-login {
  max-width: 450px;
}
/* TABS */
.login-tabs {
  .tab-btn {
    background: $color-blanco;
    border: 1px solid $color-verde;
    padding: 10px 22px;
    border-radius: 30px;
    font-weight: 600;
    color: $color-negro;
    transition: 0.3s ease;
    &.active {
      background: $color-verde-chillon;
      border-color: $color-verde-chillon;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    }
    &:hover {
      cursor: pointer;
      background: lighten($color-verde-chillon, 5%);
    }
  }
}
/* FORMS */
.form-login,
.form-register {
  background: $color-blanco;
  border: 1px solid $color-verde;
  border-radius: 22px;
  padding: 28px 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  h2 {
    font-weight: 700;
  }
  .input-group-text {
    background: $color-verde-chillon;
    border: none;
    color: $color-negro;
  }
  .form-control {
    border-radius: 12px;
    border: 1px solid $color-verde;
    color: $color-negro;
    &:focus {
      border-color: $color-verde-chillon;
      box-shadow: 0 0 0 3px rgba($color-verde-chillon, .35);
    }
  }
  .link-recuperar {
    font-size: 0.9rem;
    color: $color-rosado;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.btn-verde {
  width: 100%;
  text-align: center;
}


// responsive aca abajo y arriba tambien pero basado en clases, aca para todo

/* =========================================================
    SECCIÓN MATERIALIZA TUS IDEAS (PC)
========================================================= */
@media (min-width: 992px) {


  main.container {
    max-width: 1200px;
  }

  .titulo-seccion {
    margin-bottom: 1rem;
    text-align: center;
  }

  main.container > p {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 2rem;
    color: $color-negro;
  }


#carouselPrendas {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
}


#carouselPrendas img {
  border-radius: 14px;
  width: 100%;
  height: auto;
  object-fit: cover;
}




.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0,0,0,0.6);
  border-radius: 50%;
  background-size: 70%;
  width: 2.5rem;
  height: 2.5rem;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}





@media (max-width: 768px) {
  #carouselPrendas .col-4 {
    padding: 0 4px;
  }

  #carouselPrendas img {
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transform: scale(0.95);
  }
}

/* En escritorio las prendas más grandes */
@media (min-width: 992px) {
  #carouselPrendas .col-md-4 {
    padding: 0 12px;
  }

  #carouselPrendas img {
    max-height: 380px; 
    object-fit: cover;
  }
}

  /* Pasos */
  .paso-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    margin: 2.5rem auto;
    max-width: 900px;
  }

  .paso-tarjeta {
    border-radius: 8px;
    padding: 1.4rem 1.6rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
  }


  .paso-numero {
    color: $color-verde-chillon;
  }

  .paso-tarjeta:nth-child(5) {
    grid-column: span 2;
    justify-self: center;
    width: 50%;
  }

  /* Botón */
  .btn-principal {
    padding: 0.8rem 2.4rem;
    transition: all 0.3s ease;
  }

  .btn-principal:hover {
    background: $color-verde-chillon;
    transform: translateY(-3px);
  }

  /* Franja de beneficios */
  .info-franja {
    background: $color-rosado;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 8rem;
    text-align: start !important;
    p{
      margin-left: 20px;
    }
  }

  .categorias-slider{
    justify-content: center;
    margin-top: 20px;
  }



  .info-franja div {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
  }

 

  .info-franja i {
    margin-bottom: 0.5rem;
  }
}

.paginacion{
  @include mixin-paginacion
}








































/* ======== AJUSTES MÓVIL (PEQUEÑOS) ======== */
@media (max-width: 480px) {
  .tarjeta-producto {
    width: 100%;
    padding: 12px;
  }
 .container{
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}



/* =========================================================
    AJUSTES DE TÍTULOS Y TEXTOS (ESCRITORIO)
========================================================= */
@media (min-width: 992px) {

  h2, h2 + p {
    text-align: left;
    margin-left: 0;
  }

  
  .titulo-seccion {
    text-align: left;
    margin-left: 0;
  }

  

  .titulo-seccion::before {
    left: 0; 
  }
}



