@import '_variables.scss';
@import '_mixins.scss';

body {
  background-color: $color-background;

}

/* Contenedor general del carrito */
.contenedor-carrito {
  width: 100%;
  max-width: 480px;
  padding: 1.5rem;
  margin: 0 auto;
  margin-top: 1rem;
  box-sizing: border-box;
}

/* ============================================================
   ENCABEZADO
============================================================ */
.encabezado-carrito {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

/* ============================================================
   PRODUCTOS
============================================================ */
.lista-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-producto {
  display: flex;
  align-items: center;
  background-color: $color-blanco;
  border: 1px solid $color-verde;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  transition: 0.3s ease;
}

.card-producto:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imagen-producto {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1rem;
}

.info-producto {
  flex: 1;
}

.cabecera-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombre-producto {
  color: $color-negro;
  margin: 0;
}

.boton-eliminar {
  cursor: pointer;
  color: $color-negro;
  transition: 0.3s ease;
  line-height: 1;
}

.boton-eliminar:hover {
  color: #A33B3B;
}

.descripcion-producto {

  color: $color-negro;
  margin: 4px 0;
}

.precio-producto {
  color: $color-negro;
  margin-top: 6px;
}

/* ============================================================
   TOTAL
============================================================ */
.total-carrito {
  margin-top: 2rem;
  color: $color-negro;
  text-align: right;
}

.total-carrito .monto-total {
  color: $color-negro;
  margin-left: 4px;
}


.contenedor-boton {
  text-align: center;
  margin-top: 2rem;
}

.btn-principal:hover {
  background-color: $color-verde-chillon;
  transform: translateY(-2px);
}


/* ===== Tarjeta producto ===== */
.tarjeta-resumen {
  @include mixin-tarjeta-producto
}


.boton-eliminar {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: 0;
  font-size: 1.25rem;
  cursor: pointer;
}

/* ===== Detalles ===== */
.subtitulo {
  margin: 0 0 0.6rem;

}

.grid-atributos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem 1rem;
}

.fila {
  display: flex;
  gap: 0.5rem;
}

dt {
  color: $color-negro;
  font-family: "Inter", sans-serif !important;
}

dd {
  margin: 0;
  font-family: "Inter", sans-serif !important;
  color: $color-negro;
}



/* ===== Nota ===== */
.nota {
  text-align: center;
  color: $color-negro;
}



/* ==========================
   BARRA DE PROGRESO
   ========================== */
.progreso {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

.barra {
  height: 8px;
  background: rgba(46, 59, 31, 0.08);
  border-radius: 50px;
  overflow: hidden;
}

.barra-llena {
  height: 100%;
  background: $color-verde;
  border-radius: 50px;
  transition: width 0.4s ease;
}

.hitos {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  gap: 0.5rem;
}

.hito {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  color: $color-negro;
}

.hito.activo small,
.hito.activo .icono {
  color: $color-negro;
}

.icono {
  margin-bottom: 0.25rem;
  color: $color-negro;
}

/* ==========================
   AVISO EMAIL
   ========================== */
.aviso-email {
  text-align: center;
  color: $color-negro;
  margin: 0.75rem 0 0.95rem;
}

/* ==========================
   RESUMEN DEL PEDIDO
   ========================== */

.overlay {
  position: relative;
}

/* TARJETAS */
.tarjetas-resumen {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 0.2rem;
}

.tarjeta {
  background: var(--blanco);
  border-radius: 12px;
  padding: 0.9rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(46, 59, 31, 0.04);
  text-align: center;
}

.tarjeta-titulo {
  margin: 0 0 0.6rem;
  color: $color-negro
}

.lista-resumen {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $color-negro
}

.lista-resumen li {
  padding: 0.25rem 0;
}

.valor-fecha,
.valor-orden {
  color: $color-negro;
  margin: 0;
}

/* ==========================
   MENSAJE INTERMEDIO
   ========================== */
.mensaje-artesanal {
  text-align: center;
  color: $color-negro;
  margin: 1rem 0 0.8rem;

}



/* =========================================================
    TÍTULOS GENERALES Y TEXTOS SECUNDARIOS
========================================================= */
h2 {
  color: $color-negro;
  margin-bottom: 0.5rem;
}

h2+p,
h2+div,
h2+span {
  color: $color-negro;
  margin-top: 0.5rem;
}


/* =========================================================
    NAV MOBILE
========================================================= */
.navbar {
  background: $color-verde;
}

.btn-idioma {
  border: 0;
  color: $color-negro;
  background: transparent;
}

.icono-menu {
  color: $color-negro;
  height: 500px;
}

.buscar-menu {
  background-color: $color-blanco;
}

.buscar-menu::placeholder {
  color: $color-negro;
}

.buscador-boton {
  background-color: $color-verde-chillon;
  color: $color-negro;
}

/* ======== menu burger o Offcanvas ======== */
.offcanvas-personalizado {
  background-color: $color-background;
  border-left: 1px solid #dcdcdc;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  width: 70% !important;
}

.offcanvas-personalizado .offcanvas-header {
  border-bottom: 1px solid #ccc;
  padding: 1rem 1.25rem;
}

.icono-usuario {
  width: 30px !important;
  height: 30px !important;
  color: $color-negro;
}

.icono-error {
  width: 90px !important;
  height: 90px !important;
  color: $color-negro;
}

.top-menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.enlace-login {
  color: $color-negro;
  text-decoration: none;
  transition: opacity 0.2s ease;
  padding: 10px;
  border-radius: 10px;
}

.enlace-login:hover {
  background-color: $color-verde-chillon;
}

/* ======== CUERPO OFF-CANVAS ======== */
.offcanvas-personalizado .offcanvas-body {
  padding: 1.5rem;
}

.menu-titulo {
  border-bottom: 1px solid $color-negro;
  display: inline-block;
  padding-bottom: 4px;
}

.menu-seccion {
  border-bottom: 1px solid $color-negro;
  display: inline-block;
  padding-bottom: 4px;
}

/* ======== LISTA DE MENU ======== */
.menu-lista {
  margin: 1rem 0;
  padding: 0;
}

.menu-lista li {
  border-bottom: 1px solid transparent;
}

.menu-lista a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-negro;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
  border-radius: 10px;
}

.menu-lista a:hover {
  background-color: $color-verde-chillon;
}

.btn-close {
  filter: invert(0);
}

/* =========================================================
    HEADER HERO
========================================================= */
.header-hero {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.header-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =========================================================
    TICKER PROMOCIONAL
========================================================= */
.promo-cinta {
  background: $color-rosado;
  overflow: hidden;
  white-space: nowrap;
}

.promo-pista {
  display: inline-block;
  animation: marq 18s linear infinite;
  padding: .5rem 0;
}

.promo-item {
  margin-right: 2rem;
}

.promo-pista {
  display: flex;
  gap: 40px;
  white-space: nowrap;
}

.promo-item {
  display: inline-flex;
  align-items: center;
}


@keyframes marq {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* ========================================================
    TÍTULOS DE SECCIÓN
========================================================= */
.titulo-seccion {
  margin-top: 70px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 40px;
}




.titulo-seccion::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  background: $color-negro;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.titulo-seccion-pagina {
  margin-top: 0px;
}

/* =========================================================
    SECCIÓN DE PASOS
========================================================= */
.paso-contenedor {
  display: flex;
  flex-direction: column;
  gap: 0;
}

#paso-1 {
  z-index: 5;
}

#paso-2 {
  z-index: 4;
}

#paso-3 {
  z-index: 3;
}

#paso-4 {
  z-index: 2;
}

#paso-5 {
  z-index: 1;
}


.paso-tarjeta {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 12px 14px;
  background: $color-blanco;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.301);
  margin: 1px;
}

.paso-numero {
  h2 {
    color: $color-verde-chillon;
  }

}

/* =========================================================
    BOTONES
========================================================= */
.btn-principal {
  @include mixin-boton-verde
}

.btn-compartir {
  background: none;
  border: 0;
  color: $color-negro;
  transition: color 0.3s ease;

  img {
    height: 30px !important;
    width: 30px !important;
  }

}

.btn-compartir-producto {
  padding-top: 10px;
}

.btn-compartir:hover {
  color: $color-negro;
}

/* =========================================================
    FRANJA DE INFORMACIÓN 
========================================================= */
.info-franja {
  width: 100vw;
  background: $color-rosado;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 20rem;
  align-items: center;
  text-align: center;
}

.iconos-franja {
  width: 60px !important;
  height: 60px !important;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .info-franja {
    gap: 5rem;
    padding: auto 0px;
    text-align: center;
  }
}

/* =========================================================
    PRODUCTOS (CARDS)
========================================================= */
.carousel {
  margin-top: 20px;
}

.tarjeta-producto {
  @include mixin-tarjeta-producto
}


/* =========================================================
    CARRUSEL GENERAL
========================================================= */


.galeria-producto,
.imagen-wrap,
.attachment-woocommerce_thumbnail {
  img {
    max-height: 350px !important;
    object-fit: cover;
    border-radius: 22px;
  }
}

.boton-eliminar {
  color: $color-negro;
  text-decoration: none;
}

.yith_wapo_groups_container>h5,
.yith_wapo_groups_container>p {
  display: none !important;
}

.options-container {
  background-color: $color-background;
}

select,
.input-text,
.select2-selection__rendered {
  background-color: $color-blanco;
  border: 2px solid $color-rosado;
  border-radius: 22px;
  padding-left: 14px !important;

  option {
    padding-left: 10%;
  }
}


.leyenda {
  font-weight: 600;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  padding-right: 25px !important;
}



.select2-container--default .select2-selection--single {
  border: none;
}

.woocommerce-product-gallery__trigger {
  display: none;
}

.yith-wapo-option-value,
.input-text {
  height: 40px;
  padding-left: 12px;
}

.bloque {
  padding-top: 30px;
  padding-bottom: 10px;
}

/* =========================================================
    COMUNIDAD
========================================================= */

.intro-comunidad {
  margin-bottom: 40px;
}


.tarjeta-comunidad {
  @include mixin-tarjeta-comunidad
}


/* =========================================================
   FOOTER
========================================================= */
footer {
  margin-top: 64px;
  padding: 0;
}

.footer-movil {
  background-color: $color-verde;
  color: $color-negro;
  display: flex;
  flex-direction: column;
}

.main-footer {
  padding: 20px;
}

.footer-enlaces {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-enlaces a {
  text-decoration: none;
  color: $color-negro;
  padding-bottom: 6px;
}

.enlace {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.footer-faq {
  display: flex;
  flex-direction: column;
}

.p-frecuentes {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.faq-icono {
  font-size: 20px;
  font-weight: 500;
}

.faq-item {
  margin: 12px 0;
}

.p-f {
  text-decoration: none;
  color: $color-negro;
  display: block;
  padding: 6px 0;
}

.card {
  background-color: $color-verde-chillon;
  color: $color-negro;
}

.footer-inferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer-logo {
  width: auto;
  height: 40px;
}

.redsocial {
  color: $color-negro;
  font-size: 20px;
}

.p-frecuentes a {
  color: $color-negro;
  text-decoration: none;
}

.p-frecuentes a:hover {
  text-decoration: none;
  color: $color-negro;
}

.p-frecuentes a:not(.collapsed) {
  text-decoration: underline;
  font-weight: 700;
}

/* footer inferior */
.footer-copyright {
  width: 100%;
  background-color: $color-verde-chillon;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* responsive footer TABLET */
@media (min-width: 768px) {
  .main-footer {
    padding: 30px;
  }

  .footer-enlaces {
    gap: 2rem;
  }
}

/* responsive footer DESKTOP */
@media (min-width: 1024px) {
  .main-footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    align-items: start;
  }

  .footer-enlaces {
    grid-column: 1 / 2;
  }

  .footer-faq {
    grid-column: 2 / 3;
  }

  .footer-inferior {
    grid-column: 3 / 4;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 0;
  }

  .enlace,
  .p-frecuentes {
    border-bottom: none;
    padding: 0;
  }
}

/* =========================================================
     ESTILOS PARA PC (DESKTOP)
========================================================= */

/* ===== NAVBAR DESKTOP ===== */
.navbar-desktop .nav-top {
  background-color: $color-verde;
}

.navbar-desktop .nav-bottom {
  background-color: $color-verde-chillon;
}


.nav-logo img {
  height: 70px;
  transition: transform 0.3s ease;
}

.nav-logo:hover img {
  transform: scale(1.05);
}


.nav-icons i {
  color: $color-negro;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease;
}

.nav-icons i:hover {
  transform: scale(1.15);
  color: $color-negro;
}


.nav-menu li a {
  text-decoration: none;
  color: $color-negro;
  position: relative;
  transition: color 0.3s ease;
}

.nav-menu li.active a {
  border-bottom: 2px solid $color-negro;
  padding-bottom: 3px;
}

.nav-menu li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: $color-negro;
  left: 0;
  bottom: -3px;
  transition: width 0.3s ease;
}

.nav-menu li a:hover {
  color: $color-negro;
}

.nav-menu li a:hover::after {
  width: 100%;
}


.nav-search {
  width: 320px;
  transition: box-shadow 0.3s ease;
}

.nav-search:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.nav-search input {
  flex: 1;
  color: $color-negro;
  background: transparent;
}

.nav-search input::placeholder {
  color: $color-negro;
}

.nav-search button i {
  color: $color-negro;
  transition: color 0.3s ease;
}

.nav-search button:hover i {
  color: $color-negro;
}


.categorias-slider {
  width: 100%;

  h3 {
    font-size: 16px !important;
  }

  .cat-tabs {
    width: 100vw;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 0;
    list-style: none;

    /* 🔥 CONTENEDOR DEL SLIDER */


    overflow-x: auto;

    -webkit-overflow-scrolling: touch;
    position: sticky;

    /* Ocultar scroll */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .cat-btn {
      /* 🔥 LA LÍNEA QUE IMPORTA */
      flex: 0 0 auto;
      /* No crecer / no encoger / tamaño según contenido */

      /* Estilos */
      border: none;
      background: $color-blanco;
      padding: 12px 28px;
      font-size: 16px;
      font-weight: 500;
      border-right: 1px solid $color-verde-chillon;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      white-space: nowrap;
      /* 🔥 evita romper texto y expandir */

      h3 {
        margin-bottom: 0;
      }

      &.active {
        background: $color-rosado;
        box-shadow: inset 0 6px 8px -6px rgba(0, 0, 0, 0.473);
      }
    }
  }
}


.botones-carrusel-producto {
  @include mixin-boton-carrusel-producto
}




.row-boton-producto {
  .col-6 {
    padding: 0 !important;

    .btn {
      text-transform: uppercase;
      width: 100%;
      border: none;
      border-bottom: 2px solid $color-rosado;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .active {
      background-color: $color-rosado;
    }

    // si no tiene active, font weight
    .btn:not(.active) {
      font-weight: 600;
    }
  }
}


.fondo-pag-error {
  background-image: url(../img/fondo-error.png);
  background-size: contain;
}

.recomendacion-error {
  background-color: $color-blanco;
  display: flex;
  border-radius: 15px;
  height: 160px;

  img {
    height: 100px;
    width: 100%;
    object-fit: contain;
  }
}


.formulario-personalizacion {
  @include mixin-input-personalizacion
}

.modal-footer {
  border-top: none;
}

.check-circle {
  width: 16px;
  height: 16px;
  border: 2px solid $color-rosado;
  border-radius: 50%;
  position: absolute;
  top: 8%;
  margin-left: 22%;
}

.btn-volver {
  img {
    width: 20px;
    height: 20px;
  }
}

.addon-header,
#wapo-total-price-table,
.yith-wapo-block {
  background-color: $color-background !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    background-color: $color-background !important;
  }
}





.woocommerce-product-gallery .flex-control-thumbs,
.woocommerce-product-gallery__image--thumbnail {
  display: none !important;
}

.opciones-pago,
.woocommerce-checkout-payment {
  background-color: $color-blanco !important;
}

.carta-pago {
  background-color: $color-blanco;
  padding: inherit;
  border-radius: 22px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.carta-pago-final {
  background-color: $color-blanco;
  padding: inherit;
  border-radius: 22px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.nombre-producto {
  font-weight: 700;
  margin-bottom: 4px;
}

.precio-producto {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.variaciones-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px 10px;
  margin-top: 8px;
}

.variacion-item {
  font-size: 0.9rem;
  line-height: 1.2;
}

.cantidad-producto {
  display: none !important;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  @include mixin-boton-verde;
  border: none;
}

/* ================================
    iniciar sesión + registrase
================================ */
.login-page {
  font-family: "Inter", sans-serif;
  background-color: #D1E0A9;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
}

.login-card {
  width: 100%;
  max-width: 340px;
  background-color: rgba(226, 226, 226, 0.4);
  border-radius: 14px;
  padding: 28px 22px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, .12);
  border: 1px solid $color-verde;
}

.login-title {
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 150%;
}

.form-group {
  margin-bottom: 18px;

  label {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-bottom: 6px;
    display: block;
  }
}

.input-icon {
  position: relative;

  input {
    width: 100%;
    padding: 6px 0 6px 12px;
    border-radius: 15px;
    border: 1px solid $color-rosado;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;

    &:focus {
      outline: none;
      border-color: $color-rosado;
      box-shadow: none;
    }
  }
}

.link-recuperar {
  display: inline-block;
  margin-top: 4px;
  font-size: 15px;
  color: $color-negro;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    opacity: .8;
    color: $color-rosado;
  }
}

.btn-login {
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-size: .95rem;
  background: $color-verde-chillon;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .15);

  &:hover {
    background: lighten($color-verde-chillon, 4%);
  }
}

.login-helper {
  margin-top: 14px;
  text-align: center;
  font-size: 14px;
  color: $color-negro;
}

/* ================================
    SUBIR FOTO
================================ */
.hero-comparte {
  padding-top: 90px;

  h1 {
    border-left: 6px solid $color-negro;
    padding-left: 12px;
  }
}

.formulario-carga {
  padding-top: 90px;

  .boton-verde {
    display: block;
    margin: 30px auto 0;
  }
}

.pasos-wrapper {
  width: 100%;
  position: relative;
  margin-top: 40px;

  .pasos-bg {
    width: 100%;
    height: 300px;
    background-image: url('../img/subirfotohero.jpg');
    background-size: cover;
    background-position: center;
  }

  .contenedor-pasos {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .pasos-subida {
      margin: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 30px;
      gap: 30px;

      .paso {
        flex: 1;
        background: $color-blanco;
        padding: 15px 18px;
        border-radius: 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
        display: flex;
        align-items: center;
        text-align: left;

        .numero {
          font-size: 1.6rem;
          font-weight: 700;
          color: $color-verde-chillon;
          margin-right: 10px;
        }

        p {
          margin: 0;
          font-weight: 600;
          line-height: 1.1;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .pasos-wrapper .contenedor-pasos .pasos-subida {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;

    .paso {
      width: 100%;
    }
  }
}

.formulario-carga {
  h2 {
    font-weight: 700;
  }

  .requeridos {
    margin-bottom: 25px;
  }

  .subir-foto {
    margin-bottom: 30px;

    label {
      font-weight: 600;
    }

    .input-file-kaileen {
      margin-top: 12px;
      border: 2px dashed $color-rosado;
      padding: 25px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      background: $color-blanco;

      span {
        font-size: 14px;
        font-weight: 600;
      }

      img {
        width: 40px;
      }

      input {
        display: none;
      }
    }

  }

  .form-bloque.autorizo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

    label {
      font-weight: 600;
    }

    .checkbox-area {
      display: flex;
      align-items: center;
      gap: 8px;

      input {
        width: 20px;
        height: 20px;
      }
    }
  }

  .textarea-kaileen {
    width: 100%;
    height: 140px;
    margin-top: 10px;
    padding: 12px;
    border-radius: 0;
    border: 2px solid $color-rosado;
    resize: none;
    outline: none;
    font-size: 14px;
  }
}

.boton-verde {
  @include mixin-boton-verde;
}

.caja-rosada {
  background: $color-rosado;
  padding: 35px 28px;
  text-align: center;
  border-radius: 0;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 60px;
    margin-bottom: 15px;
  }

  p {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.comunidad-listado {
  margin-top: 90px;

  h2 {
    border-left: 6px solid $color-negro;
    padding-left: 12px;
  }

  .intro {
    margin-top: 10px;
  }

  .espacio-post-destacado {
    width: 100%;
    height: 300px;
    background: $color-blanco;
    border: 2px dashed $color-verde;
    border-radius: 0;
    margin-top: 20px;
  }

  .boton-verde {
    @include mixin-boton-verde;
  }
}

/* ==========================================
  HEADER KAILEEN — Mobile First
========================================== */
header {
  width: 100%;
  border: none !important;
}

.nav-principal {
  background-color: $color-verde !important;
  border: none !important;
  padding-top: 10px;
  padding-bottom: 10px;

  .navbar-brand img {
    height: 40px;
    width: auto;

    @media (min-width: 992px) {
      height: 55px;
    }
  }
}

.icons-desktop img {
  height: 22px;
  width: auto;
  display: block;
  transition: .2s;
  filter: brightness(0);
}

.icons-desktop img:hover {
  opacity: .7;
}

/* buscador (mobile + desktop) */
.input-group,
.navbar-expand-lg form {
  display: flex;
  align-items: center;
  height: 39px;
  border-radius: 44px !important;
  overflow: hidden;
  background: $color-blanco;

  input {
    flex: 1;
    height: 100%;
    border: none !important;
    background: transparent;
    padding: 0 14px;
    font-size: 14px;

    &::placeholder {
      color: $color-negro;
      opacity: .7;
    }
  }

  button {
    height: 100%;
    padding: 0 16px;
    border: none !important;
    background: $color-blanco;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: $color-negro;
      font-size: 18px;
    }
  }
}

/* nav secundario (desktop) */
.nav-secundario {
  height: 60px;
  background-color: $color-verde-chillon !important;
  border: none !important;
  padding: 0 !important;

  .navbar-nav .nav-link {
    font-family: 'Syne', sans-serif !important;
  }

  .nav-link {
    color: $color-negro !important;
    font-size: 16px;

    &:hover {
      opacity: .7;
    }
  }

  @media (max-width: 991px) {
    display: none !important;
  }
}

/* menu hamburguesa */
.offcanvas {
  background-color: $color-verde;

  .offcanvas-header {
    border-bottom: 1px solid $color-negro;

    button {
      color: $color-negro;

      i {
        font-size: 32px;
      }
    }
  }

  .nav-link {
    color: $color-negro !important;
    font-size: 20px;

    i {
      margin-right: 8px;
    }

    &:hover {
      opacity: .7;
    }
  }
}

.icon-mobile {
  height: 22px;
  width: auto;
  display: block;
  filter: brightness(0);
  transition: .2s;
}

.icon-mobile:hover {
  opacity: .7;
}

/* nav responsive*/
@media (max-width: 991px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

// responsive aca abajo y arriba tambien pero basado en clases, aca para todo

/* =========================================================
    SECCIÓN MATERIALIZA TUS IDEAS (PC)
========================================================= */
@media (min-width: 992px) {


  main.container {
    max-width: 1200px;
  }

  .titulo-seccion {
    margin-bottom: 1rem;
    text-align: center;
  }

  main.container>p {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 2rem;
    color: $color-negro;
  }


  #carouselPrendas {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
  }


  #carouselPrendas img {
    border-radius: 14px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }




  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    background-size: 70%;
    width: 2.5rem;
    height: 2.5rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }





  @media (max-width: 768px) {
    #carouselPrendas .col-4 {
      padding: 0 4px;
    }

    #carouselPrendas img {
      border-radius: 10px;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
      transform: scale(0.95);
    }
  }

  /* En escritorio las prendas más grandes */
  @media (min-width: 992px) {
    #carouselPrendas .col-md-4 {
      padding: 0 12px;
    }

    #carouselPrendas img {
      max-height: 380px;
      object-fit: cover;
    }
  }

  /* Pasos */
  .paso-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    margin: 2.5rem auto;
    max-width: 900px;
  }

  .paso-tarjeta {
    border-radius: 8px;
    padding: 1.4rem 1.6rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
  }


  .paso-numero {
    color: $color-verde-chillon;
  }

  .paso-tarjeta:nth-child(5) {
    grid-column: span 2;
    justify-self: center;
    width: 50%;
  }

  /* Botón */
  .btn-principal {
    padding: 0.8rem 2.4rem;
    transition: all 0.3s ease;
  }

  .btn-principal:hover {
    background: $color-verde-chillon;
    transform: translateY(-3px);
  }

  /* Franja de beneficios */
  .info-franja {
    background: $color-rosado;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 8rem;
    text-align: start !important;

    p {
      margin-left: 20px;
    }
  }

  .categorias-slider {
    justify-content: center;
    margin-top: 20px;
  }



  .info-franja div {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
  }



  .info-franja i {
    margin-bottom: 0.5rem;
  }
}

.paginacion {
  @include mixin-paginacion
}





.tarjeta-error {
  @include mixin-tarjeta-error
}

.tarjeta-checkout {
  @include mixin-tarjeta-checkout;
  margin: 0px !important;
}


.overlay {
  background-image: url(../img/fondo-checkout.png);
}



.tarjetas-resumen {
  padding: 70px 0px;
}



.img-banner-perso {
  height: 20vh;
  object-fit: contain;
}























/* ======== AJUSTES MÓVIL (PEQUEÑOS) ======== */
@media (max-width: 480px) {
  .tarjeta-producto {
    width: 100%;
    padding: 12px;
  }

  .container {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}



/* =========================================================
    AJUSTES DE TÍTULOS Y TEXTOS (ESCRITORIO)
========================================================= */
@media (min-width: 992px) {

  h2,
  h2+p {
    text-align: left;
    margin-left: 0;
  }


  .titulo-seccion {
    text-align: left;
    margin-left: 0;
  }



  .titulo-seccion::before {
    left: 0;
  }
}

//SOBRE MI
.foto-sobremi {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-enlace {
  width: 100%;
  max-height: 300px;
}

.current-menu-item {
  font-weight: 700 !important;

}

.menu-item {

  list-style: none !important;


}